@import "./reset.scss";
@import "./library.scss";
//阿里图标库
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.16em;
   fill: currentColor;
   overflow: hidden;
}
.app-breadcrumb{
  cursor: pointer;
  transition: all .2s;
  &:hover{
    color: #108ee9;
  }
}
